fastapi>=0.111.0
uvicorn[standard]>=0.29.0
sqlalchemy[asyncio]>=2.0.0
asyncpg>=0.29.0
vosk>=0.3.45
numpy>=1.24.0
python-dotenv>=1.0.0
python-multipart>=0.0.9
scikit-learn
joblib
sentence-transformers
transformers
torch
nltk
spacy
tqdm
pandas
deepgram-sdk
groq
sentencepiece>=0.2.0
accelerate>=0.30.0